---
layout: page
title: "ABOUT ME"
description: "Be enthusiastic, confident and disciplined."
header-img: "img/A2.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <h3>ABOUT ME</h3>
    <p>Hello，I'm <strong>ZIYUE WU</strong>, a junior in  Chu Kochen Honors College, Zhejiang University, majoring Statistics & Information Management and Information Systems.</p>

    <hr>
    
    <h3>PERSONAL DETAILS</h3>
    <p>
    <ul>
        <li>Name: ZIYUE WU （武子越）</li>
        <li>Address: Baisha 2-501, Zijingang Campus, Hangzhou 310058, China </li>
        <li>Email: wuziyue_zju@163.com & 3170104155@zju.edu.cn </li>
        <li>My Github Pages: <a href="https://github.com/Tinky2013">👉github.com/Tinky2013</a> </li>
        <li>My CSDN Pages: <a href="https://blog.csdn.net/Tinky2013">👉blog.csdn.net/Tinky2013</a> </li>
    </ul>
    </p>
    
    <hr>

    <h3>RESEARCH INTEREST </h3>
    <p>
        I'm really interested in the interdisciplinary field of <strong>Statistics, Computer Science </strong> as well as <strong> Business</strong> 
        and I hope to develop towards the field of <strong>data science </strong>.
        My research interests broadly include topics in statistics, machine learning and algorithms, 
        such as bayesian statistics, time series analysis, optimization, 
        variational inference, stochastic process, machine learning theory and so on. 
    </p>
    
    <hr>

    <h3>EDUCATION </h3>
    <p>
    <ul>
        <li>Bachelor of Science in Statistics (Honors), Zhejiang University, P.R. China, 2017.09 - 2021.06</li>
        <li>Bachelor of Economics in Information Management and Information Systems (Honors), Zhejiang University, P.R. China, 2017.09 - 2021.06</li>
        <li>Donghua Highschool, Dongguan, Guangdong, P.R. China, 2014.09 - 2017.06</li>
    </ul>
    <h4>EXCHANGE EXPERIENCE </h4>
    <ul>
        <li>Visiting student in the University of Lady Margaret Hall, Oxford, UK, Aug 2018</li>
    </ul>
    </p>
    </div>

    <hr>

    <h3>HONORS AND AWARDS</h3>
    <p>
    <ul>
        <li>National Scholarship (Top 1.5% among 500+ undergraduates in Chu Kochen Honors College).</li>
        <li>(Twice) First-Class Scholarship for Outstanding Students, 2018 & 2019 (Top 10%).</li>
        <li>(Twice) Outstanding Students in Chu Kochen Honors College (Awards for all-round developed students).</li>
        <li>Best Presentation Award of Group Academic Project of LMH, Oxford, Aug 2018</li>
        <li>Provincial Scholarship, 2019 (Top 10%)</li>
        <li>Research Innovation Scholarship, 2019</li>
        <li>The third prize of the national mathematical contest in modeling for college students, 2019</li>
        <li>Top 15% in data science competition: IEEE-CIS Fraud Detection, kaggle</li>
        <li>Scholarship of Public Survice and Social Work, 2018</li>
    </ul>
    </p>

    <hr>
    <h3>COMPETITIONS AND PROJECT</h3>
    <h6>Mathematical contest in modeling</h6>
    <strong><a href="https://github.com/Tinky2013/Tinky2013.github.io/clob/master/img/pdf/School%20Final.pdf">Modeling of target tracking problems, school competition</a></strong>
    <li>Collaborators: Wanteng Ma, Zizhang Li</li>
    <li>Awards: The third prize of mathematical contest in modeling in Zhejiang University</li>

    

    <hr>

    <h3>SKILLS AND HOBBIES</h3>
    <p>I'm not a typical tech geek. In addition to exploring algorithm and coding, I am interested in a wide range of disciplines 
        such as sociology, applied psychology, finance, astronomy, anthropology, poetry, geophysics, business administration and so on. </p>

    <p>I especially like to get in touch with all kinds of people, so be free to contact me (by email <strong>wuziyue_zju@163.com</strong>
        or wechat <strong>Tinky11131998</strong>). My hobbies include many kinds of sports such as swimming, biking, soccer and so on. Also,
        I especially like to go traveling, hiking or sharing all kinds of experiences with other people. Meanwhile, some sorts of musical instruments and photography are also my cup of tea.</p>

    <hr>
    <h3>WHY I LIKE DATA SCIENCE</h3>
    <p> There are several reasons for this problem and the first one is that I love to seek insight from data. I think I can follow the trends in business and society through massive data. To be the first person to find out secrets is really exhilarating.</p>

    <p> What's more, data serves products and customers, and enterprises need to use data to dig out commercial value. Meanwhile, the society needs to find ways to improve people's lives through data analysis. Data scientists are of great importance to companies and society.</P>

    <p> Finally, there are applications for data science in all walks of life. Therefore, you can understand different fields and communicate with various kinds of people, which fits my personality well.</p>

<!-- English Version -->
<!-- <div class="en post-container">
    <blockquote><p>Yet another iOS Developer. <br>
    Yet another Life-long Student.</p></blockquote>
    <p>Hi, I am <strong>ZIYUE WU</strong>，a student in Zhejiang University and I live in Hangzhou</p>
    
    <p>I have a wide range of hobbies and I am a technophile. But in my spare time, I also like all kinds of sports, travel, art and photography. I am good at guitar, percussion and electronic music</p>
    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/Tinky2013">Github·WZY</a>.</p>
</div> -->

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");
    // bind hashchange event
    window.addEventListener('hashchange', _render);
    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }
    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }
    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
