---
layout: page
title: "Post List"
description: "All my blogs are here. Convenient for quick query and browsing."
header-img: "img/post-bg-2015.jpg"
---

<!-- Language Selector -->
<!-- <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> -->

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <h3>ABOUT</h3>
    <p>This article contains links to all my technical blogs, essays, and notes to help those in need quickly jump through! Keep updating and making progress!</p>

    <hr>
    
    <h3>POST</h3>
    
    <h5>1 Machine Learning</h5>
    <li><a href="https://tinky2013.github.io/2019/04/08/Python%E6%9C%BA%E5%99%A8%E5%AD%A6%E4%B9%A0%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B-%E5%BD%92%E7%BA%B3(%E4%B8%8A)/">0001 Python机器学习基础教程-归纳(上)</a> </li>
    <li><a href="https://tinky2013.github.io/2019/04/09/Python%E6%9C%BA%E5%99%A8%E5%AD%A6%E4%B9%A0%E5%9F%BA%E7%A1%80%E6%95%99%E7%A8%8B-%E5%BD%92%E7%BA%B3(%E4%B8%8B)/">0002 Python机器学习基础教程-归纳(下)</a> </li>
    <li><a href="https://tinky2013.github.io/2019/08/04/sklearn%E5%B8%B8%E7%94%A8%E7%AE%97%E6%B3%95%E6%80%BB%E7%BB%93/">0003 sklearn常用算法总结</a></li>
    <li><a href="https://tinky2013.github.io/2019/07/11/%E5%88%A4%E5%88%AB%E5%BC%8F%E6%A8%A1%E5%9E%8B%E4%B8%8E%E7%94%9F%E6%88%90%E5%BC%8F%E6%A8%A1%E5%9E%8B/">0004 判别式模型与生成式模型</a></li>
    <li><a href="https://tinky2013.github.io/2019/08/29/%E5%86%B3%E7%AD%96%E6%A0%91%E6%A6%82%E8%BF%B0/">0005 决策树概述</a></li>
    <li><a href="https://tinky2013.github.io/2019/08/30/Something-about-XGBoost/">0006 Something about XGBoost</a></li>
    <li><a href="https://tinky2013.github.io/2019/08/31/The-Parameters-of-XGBoost-and-LightGBM/">0007 The Parameters of XGBoost and LightGBM</a></li>
    <li><a href="https://tinky2013.github.io/2019/09/04/XGBoost-LightBGM-CatBoost%E6%AF%94%E8%BE%83/">0008 XGBoost、LightGBM、CatBoost比较</a></li>
    <li><a href="https://tinky2013.github.io/2019/09/05/PRML%E5%85%A8%E4%B9%A6%E6%A6%82%E8%A7%88/">0009 PRML全书概览</a></li>
    <li><a href="https://tinky2013.github.io/2019/09/06/PRML-Chapter-1-Introduction/">0010 PRML Chapter 1 Introduction</a></li>
    <li><a href="https://tinky2013.github.io/2019/09/09/PRML-Chapter-2-Probability-Distributions/">0011 PRML Chapter 2 Probability Distributions</a></li>
    <li><a href="https://tinky2013.github.io/2019/09/10/PRML-Chapter-3-Linear-Models-for-Regression/">0012 PRML Chapter 3 Linear Models for Regression</a></li>
    <li><a href="https://tinky2013.github.io/2019/09/12/PRML-Chapter-4-Linear-Models-for-Classification/">0013 PRML Chapter 4 Linear Models for Classification</a></li>
    <li><a href="https://tinky2013.github.io/2019/09/16/PRML-Chapter-5-Neural-Networks/">0014 PRML Chapter 5 Neural Networks</a></li>
    <li><a href="https://tinky2013.github.io/2019/09/17/PRML-Chapter-6-Kernel-Methods/">0015 PRML Chapter 6 Kernel Methods</a></li>
    <li><a href="https://tinky2013.github.io/2019/09/19/PRML-Chapter-7-Sparse-Kernel-Machines/">0016 PRML Chapter 7 Sparse Kernel Machines</a></li>
    
    <hr>
    <h5>2 Statistics</h5>
    <h6>2.1 Mathematical Statistics</h6>
    <li><a href="https://tinky2013.github.io/2019/06/08/%E7%BB%8F%E9%AA%8C%E5%88%86%E5%B8%83%E5%87%BD%E6%95%B0%E5%B0%8F%E7%BB%93/">0021 经验分布函数小结</a></li>
    <li><a href="https://tinky2013.github.io/2019/05/26/%E5%85%85%E5%88%86%E5%AE%8C%E5%A4%87%E7%BB%9F%E8%AE%A1%E9%87%8F%E9%9A%8F%E8%AE%B0/">0022 充分完备统计量随记</a></li>
    <li><a href="https://tinky2013.github.io/2019/05/05/%E4%B8%80%E8%87%B4%E6%9C%80%E5%B0%8F%E6%96%B9%E5%B7%AE%E6%97%A0%E5%81%8F%E4%BC%B0%E8%AE%A1%E7%9A%84%E9%82%A3%E4%BA%9B%E4%BA%8B/">0023 一致最小方差无偏估计的那些事</a></li>
    <li><a href="https://tinky2013.github.io/2019/05/11/%E6%AD%A3%E6%80%81%E6%80%BB%E4%BD%93%E5%8F%82%E6%95%B0%E7%BD%AE%E4%BF%A1%E5%8C%BA%E9%97%B4/">0024 正态总体参数的区间估计</a></li>
    <li><a href="https://tinky2013.github.io/2019/08/28/%E8%B4%9D%E5%8F%B6%E6%96%AF%E4%BC%B0%E8%AE%A1%E7%AC%94%E8%AE%B0/">0025 贝叶斯统计笔记</a></li>
    
    <h6>2.2 Random Process</h6>
    <li><a href="https://tinky2013.github.io/2019/05/03/%E5%A4%8D%E5%90%88Poisson%E8%BF%87%E7%A8%8B%E7%9A%84%E4%B8%80%E4%BA%9B%E6%80%9D%E8%80%83/">0033 复合Poisson过程的一些思考</a></li>
    <li><a href="https://tinky2013.github.io/2019/05/06/%E5%B8%B8%E8%BF%94%E6%80%A7%E5%92%8C%E7%9E%AC%E6%97%B6%E6%80%A7%E7%9A%84%E5%9B%9B%E7%A7%8D%E7%AD%89%E4%BB%B7%E6%8F%8F%E8%BF%B0/">0034 常返性和瞬时性的四种等价描述</a></li>
    <hr>

    <h5>3 Data Structure</h5>
    <h6>3.1 Array</h6>
    <li><a href="https://tinky2013.github.io/2018/01/20/Leetcode-66-Plus-One/">0101 Leetcode 66 Plus One</a></li>
    <li><a href="https://tinky2013.github.io/2018/07/07/Leetcode-621-Task-Scheduler/">0102 Leetcode 621 Task Scheduler</a></li>
    
    <h6>3.2 Linked List</h6>
    <li><a href="https://tinky2013.github.io/2018/01/09/Leetcode-19-Remove-Nth-Node-From-End-of-List/">0111 Leetcode 19 Remove Nth Node From End of List</a></li>
    <li><a href="https://tinky2013.github.io/2018/01/26/Leetcode-86-Partition-List/">0112 Leetcode 86 Partition List</a></li>
    
    <h6>3.3 Stack & Queue</h6>
    <li><a href="https://tinky2013.github.io/2018/08/12/Leetcode-739-Daily-Temperatures/">0121 Leetcode 739 Daily Temperatures</a></li>
    <li><a href="https://tinky2013.github.io/2018/07/25/Leetcode-682-Baseball-Game/">0122 Leetcode 682 Baseball Game</a></li>
    <li><a href="https://tinky2013.github.io/2018/05/30/Leetcode-496-Next-Great-Element-I/">0123 Leetcode 496 Next Great Element I</a></li>
    
    <h6>3.4 Tree</h6>
    <li><a href="https://tinky2013.github.io/2018/01/29/Leetcode-94-Binary-Tree-Inorder-Traversal/">0131 Leetcode 94 Binary Tree Inorder Traversal</a></li>
    <li><a href="https://tinky2013.github.io/2018/01/31/Leetcode-100-Same-Tree/">0132 Leetcode 100 Same Tree</a></li>
    <li><a href="https://tinky2013.github.io/2018/02/01/Leetcode-101-Symmetric-Tree/">0133 Leetcode 101 Symmetric Tree</a></li>    
    <li><a href="https://tinky2013.github.io/2019/05/10/Leetcode-102-Binary-Tree-Level-Order-Traversal/">0134 Leetcode 102 Binary Tree Level Order Traversal</a></li>
    <li><a href="https://tinky2013.github.io/2018/02/01/Leetcode-104-Maximum-Depth-of-Binary-Tree/">0135 Leetcode 104 Maximum Depth of Binary Tree</a></li>
    <li><a href="https://tinky2013.github.io/2018/02/04/Leetcode-110-Balanced-Binary-Tree/">0136 Leetcode 110 Balanced Binary Tree</a></li>
    <li><a href="https://tinky2013.github.io/2018/02/04/Leetcode-111-Minimum-Depth-of-Binary-Tree/">0137 Leetcode 111 Minimum Depth of Binary Tree</a></li>
    <li><a href="https://tinky2013.github.io/2018/02/14/Leetcode-144-Binary-Tree-Preorder-Traversal/">0138 Leetcode 144 Binary Tree Preorder Traversal</a></li>
    <hr>
    
    <h5>4 Kaggle Competition</h5>
    <li><a href="https://tinky2013.github.io/2019/09/02/Santander-Customer-Transaction-Prediction-EDA-and-Baseline/">0201 Santander Customer Transaction Prediction (EDA and Baseline)</a></li>
    
<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");
    // bind hashchange event
    window.addEventListener('hashchange', _render);
    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }
    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }
    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
